<a href="https://colab.research.google.com/github/MirshaNohely/edd_1310_2021/blob/master/1octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Intro Python 3
### Variables
tipo dinámico

  escuela = "Fes Aragon"

In [4]:
escuela = "Fes Aragon"
print(escuela)
print("--------------------")
edad = 13
estructura = 1.67
fumador = True
frase = """
Esta es 
una
frase
de multiples líneas
y támbien es
un tipo de dato
"""

print(frase)
nombre = 'Jose'
nombre_completo = "Jose Sosa Cardenas"

Fes Aragon
--------------------

Esta es
una
frase
de multiples líneas
y támbien es
un tipo de dato

# Print

con comas ,

con signo mas +

con format ()

con operador f"""

In [6]:
print(nombre,edad)

Jose 13

In [10]:
# + concatena
print(nombre + str(edad))
print(nombre + nombre_completo)
print("------------------------")
#diferencia entre ( + ) y ( , )
print(nombre, edad)
print(nombre, nombre_completo)

Jose13
JoseJose Sosa Cardenas
------------------------
Jose 13
Jose Jose Sosa Cardenas

In [15]:
# con formato -> Su nombre es Jose y su edad es de 13 años.
print("Su nombre es", nombre, "y su edad es de", edad, "años.")
print("Su nombre es {0} y su edad es de {1} años.".format(nombre, edad) )
print("------------------------------------------")
#Diferencia cundo se cambian los indices.
print("Su nombre es {1} y su edad es de {0} años.".format(nombre, edad) )

Su nombre es Jose y su edad es de 13 años.
Su nombre es Jose y su edad es de 13 años.
------------------------------------------
Su nombre es 13 y su edad es de Jose años.

In [17]:
# con formato con el operador f""

print(f"Su nombre es {nombre} y su edad es de {edad} años.")

Su nombre es Jose y su edad es de 13 años.

# Carácter de escape

\n salto de linea

\t tabulador

\a beep

\" imprimir comilla doble

\' imprimir comilla simple

In [18]:
print(f"Su nombre es \"{nombre}\" y su edad es de {edad} años.")

Su nombre es "Jose" y su edad es de 13 años.

In [19]:
"""
Esto es 
un comentario 
de multiple línea 
tan tan 
"""
print(f"\tMi nombre es \n\t\t {nombre}")

	Mi nombre es
		 Jose

# Documentación Python
# Ayuda de tipos de datos en Python

dir()

help()

In [ ]:
#str, int, float, bool ... list, dict, set
#dir(str)
help(str)

In [21]:
print(nombre_completo.capitalize() )
print(nombre_completo.upper() )
print(nombre_completo.title() )

Jose sosa cardenas
JOSE SOSA CARDENAS
Jose Sosa Cardenas

In [ ]:
help(print)

In [23]:
print(nombre_completo.capitalize() )
print(nombre_completo.upper() , end = "---------")
print(nombre_completo.title() )

Jose sosa cardenas
JOSE SOSA CARDENAS---------Jose Sosa Cardenas

# clase String
Es manejada como un arreglo (c o java) o lista (python)

telefono = "Huawei mate  30 pro"

print(telefono [ 0 ] )

In [26]:
#Lista o arreglo
telefono = "Huawei mate  30 pro"

print(telefono [ 0 ] )

H

In [25]:
telefono = "Huawei mate  30 pro"

print(telefono [ 5 ] )

i

# slicing (rebanado)

[ini: stop : incremento]

Nota: El stop no se incluye, termina en el valor anterior al stop

In [32]:
print(telefono[7:11:1])
# el inicio y el incremento son opcionales
print(telefono [:11:])
# el valor, por defecto, de stop es len(str)
print(telefono[::])
# incremento negativo
print(telefono[::-1]) #puede servir para encontrar algo al ultimo...
#
print(telefono[-3::1]) #si el slicing detecta el negativo, se empieza a contar desde -3...
#...+ es slicing negativo

mate
Huawei mate
Huawei mate  30 pro
orp 03  etam iewauH
pro

In [ ]:
# métodos de string (str)

Existen métodos muy útiles en esta clase.

# métodos de string (str)

Existen métodos muy útiles en esta clase.

In [53]:
facultad = "    facultad de estudios superiores aragon    "
print(facultad)
print(facultad.count("  "))#cuenta el numero de espacios( x, numero de elementos) que hay en la cadena
print(facultad.count("f"))#cuenta el numero de f
print(facultad.count("s"))#cuenta el numero de s
print(facultad.find("h"))#encuentra numero de elemnto
print(facultad.find("a"))
print(facultad.strip() )#quita los spacios en blanco y tambien los saltos en linea
tamaño = len(facultad)
print(len(facultad))#regresa la longitud de un str y la puedes asignar a una variable, dar un entero
print(f"tamaño de la cadena es {tamaño} caracteres")
print(facultad.split("t"))#dividir cadena en base a un caracter (t)
#antes de hacer un split hay que hacer un string(quito las cosas de la derecha y de la izquierd)
print(facultad)
print(facultad.strip().split("  "))

print("----------------------------------------")
# copiar cadenas
otra_cadena = facultad 
print(otra_cadena)
facultad = "Fes Aragon"
print(facultad)
print(otra_cadena)

# copiar listas
colores = ['rojo', 'verde']
otra = colores.copy()
print(colores)
print(otra)
otra.append("rosa")
print(colores)
print(otra)

    facultad de estudios superiores aragon
4
1
4
-1
5
facultad de estudios superiores aragon
46
tamaño de la cadena es 46 caracteres
['    facul', 'ad de es', 'udios superiores aragon    ']
    facultad de estudios superiores aragon
['facultad de estudios superiores aragon']
----------------------------------------
    facultad de estudios superiores aragon
Fes Aragon
    facultad de estudios superiores aragon
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde', 'rosa']