<a href="https://colab.research.google.com/github/MirshaNohely/edd_1310_2021/blob/master/EyAyEhEyanAlien.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
archivo = open ('Datos.txt', 'rt')
for linea in archivo.readlines():
  print(linea)

1,2,      1,   14,          29,45,5,        58,56, 10,     29,     14,      88,           17,4,3,1,7,         12,            10



2,        23,               5, 8, 44,        2, 2,             13,             5,9,10,16,  98,  76,      47,     1,1,3,         2



3,       87,       15,11,9,      7,90,97,           21,3,4,1,     8,   88,    74,         32, 34,    43, 17,        77, 93



4,46,8,1,6,2,         10,37,84,     4,5,9,10,            2,         6 ,3   1,1 ,1,    8,   4,20,  33,  23,       18, 45



55, 3, 2,      29,     58,    83,9, 17, 1,    43, 20,          93,     31,        46,43, 77,           8,44,45, 17,          62



6,       74, 13, 44,          18, 45,                11,   93, 2,   1, 1 ,1,        25, 1,        42,  18,     22,              44,   52



7,    88, 93,    6, 54, 2, 8, 1,        41, 86, 79,        33, 48,9,             32, 63,18,7,         33,2,1,     16,11, 7



8, 0,  22,    17,30,6, 2,         12, 47,  37,     34,   85,       47,    33,  2,  6,      8, 4, 5,   29,    30, 42,      77, 2



9,    2,3,4,    1,1,      3,6,   7,7,8,  9,      5, 1,      3, 4, 9,    10,           12,    3, 1,     5,    6,    22,11,     0,  2



1,0,     2,55,      9,  3,     55,    23,1,6,      9,    4,   5,     3,3,2,  1,      3,8,      1,   6,       10,      0,   1,5,1,      3

In [2]:
archivo = open('Datos.txt',"rt")

archivos = 'ppp'
while(archivos != ''):
    archivos = archivo.readline()
    archivos = archivos.replace(" ",'').replace(",",'')
    print(archivos)
archivo.close()

12114294555856102914881743171210



223584422135910169876471132



38715119790972134188874323443177793



446816210378445910263111842033231845



5532295883917143209331464377844451762



67413441845119321112514218224452



78893654281418679334893263187332116117



80221730621247373485473326845293042772



9234113677895134910123156221102



1025593552316945332138161001513

In [56]:
archivo = open('Datos.txt', "rt")
datos = 'p'
total_linea = 0
total_suma = 0
n = 0
x = []

while(datos !=""):
  datos = archivo.readline()
  eliminar = datos.replace(' ','')
  eliminar = eliminar.replace('\n','')
  if eliminar != '':
    x = eliminar.split(',')
    #print(x)
    i = 0
    for a in x:
      numero = int(x[i])
      total_linea += numero
      total_suma += numero
      i += 1
    n+=1
    print(f"En el renglon numero {n}, su suma es: ", total_linea,'\n')
    suma_renglon = 0

print('El resultado total de la suma de los renglones da', total_suma)

En el renglon numero 1, su suma es:  406

En el renglon numero 2, su suma es:  773

En el renglon numero 3, su suma es:  1587

En el renglon numero 4, su suma es:  2005

En el renglon numero 5, su suma es:  2791

En el renglon numero 6, su suma es:  3304

En el renglon numero 7, su suma es:  4049

En el renglon numero 8, su suma es:  4634

En el renglon numero 9, su suma es:  4788

En el renglon numero 10, su suma es:  5008

El resultado total de la suma de los renglones da 5008